html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    /*background-color: #edeef0;*/
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top{
    /*margin-bottom: 20px*/
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 10px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    width: 100%;
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 16px 24px;
    -webkit-box-shadow: 0 16px 40px 0 rgba(76,93,110,0.08), 0 4px 8px 0 rgba(76,93,110,0.1);
    box-shadow: 0 16px 40px 0 rgba(76,93,110,0.08), 0 4px 8px 0 rgba(76,93,110,0.1);
    border-radius: 4px;
    text-align: left;
    min-height: 380px;
}

.btn btn-success btn-buy
.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    /*height: 300px;*/
    /*background-color: darkseagreen;*/
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: #4cae4c;
    border: none;
    border-radius: 0;
}

.navbar-main{
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}

.form-error{
    color: red;
}

.navbar-brand{
    font-family: 'Edo', sans-serif;
}

.checkout-item{
    width: 100%;
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 16px 24px;
    -webkit-box-shadow: 0 16px 40px 0 rgba(76,93,110,0.08), 0 4px 8px 0 rgba(76,93,110,0.1);
    box-shadow: 0 16px 40px 0 rgba(76,93,110,0.08), 0 4px 8px 0 rgba(76,93,110,0.1);
    border-radius: 4px;
    text-align: left;
    min-height: 180px;
}

.phone-num__7 {
    position: absolute;
    background: #CCC;
    font-size: 14px;
    color: #64737d;
    width: 40px;
    height: 32px;
    text-align: center;
    top: 26px;
    left: 16px;
    padding-top: 8px;
    z-index: 0;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
}

/*.phone-num__7 {*/
    /*height: 43px;*/
    /*line-height: 46px;*/
/*}*/

/*.phone-num__7 {*/
    /*height: 33px;*/
    /*line-height: 36px;*/
    /*top: 25px;*/
    /*padding-top: 8px;*/
    /*box-sizing: border-box;*/
/*}*/

/*.phone-num__7 {*/
    /*z-index: 2;*/
    /*height: 29px;*/
    /*padding-top: 17px;*/
    /*-webkit-border-radius: 2px 0 0 2px;*/
    /*border-radius: 2px 0 0 2px;*/
    /*background: 0 0;*/
/*}*/